@font-face {
	font-family: "Meta Serif Pro";
	src: url("../font/MetaSerifPro-Book.ttf");
	font-weight: 450;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../font/Inter-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth !important;
	transition: all 0.3s ease;
	font-size: 1.6rem;
}

:root {
	--primary: #e3f1dd;
	--white: #ffffff;
	--black: #000000;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth !important;
}

body {
	font-family: "Meta Serif Pro", sans-serif;
	color: var(--black);
	font-weight: 450;
}

a {
	text-decoration: none;
	color: var(--black);
	font-family: "Meta Serif Pro";
}

a:hover {
	/* color: #6e6e6e; */
	color: rgba(0, 0, 0, 0.6) !important;
}

button {
	font-family: "Meta Serif Pro";
	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
	border: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.button {
	width: fit-content;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3rem;
	font-size: 1.6rem;
	line-height: 2.1rem;
}
.button:hover {
	background: rgba(227, 241, 221, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.button-icon {
	gap: 1rem;
}
.link {
	font-family: "Meta Serif Pro";
	font-size: 1.6rem;
	line-height: 2.1rem;
}
.container {
	max-width: 1800px;
	width: 94%;
}

@media (max-width: 1024px) {
	.container {
		width: 100%;
		padding: 0 1.6rem;
	}
}

/* header */

header {
	padding: 4.8rem 0 1.6rem;
}
.header-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}
.navbar-ul {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.company-name {
	font-size: 2.4rem;
	line-height: 3.1rem;
}
.text-line {
	font-style: italic;
	opacity: 0.5;
	font-size: 12px;
	line-height: 15px;
	margin-top: 2px;
	display: flex;
	align-items: center;
	gap: 6px;
}
.text-line::before,
.text-line::after {
	content: "";
	display: block;
	width: 3.2rem;
	height: 1px;
	background: #d9d9d9;
}
.social-links {
	display: flex;
	gap: 1rem;
}

.social-links li {
	display: flex;
	align-items: center;
}
.social-links li a {
	color: #4d4d4d;
	font-style: italic;
	font-size: 14px;
	line-height: 18px;
}
.social-links li:not(:first-child):before {
	content: "";
	margin-right: 1rem;
	width: 5px;
	height: 5px;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	background-color: #4d4d4d;
	border-radius: 50%;
	display: block;
}
.social-links li:first-child {
	margin-left: 0;
}
.social-links li:last-child {
	margin-right: 0;
}

.social-lang-bar {
	display: flex;
	align-items: center;
	justify-content: right;
}

@media (max-width: 1024px) {
	.header-wrapper {
		grid-template-columns: 1fr;
	}
	nav,
	.social-lang-bar {
		display: none;
	}
}
