@font-face {
	font-family: "Meta Serif Pro";
	src: url("../font/MetaSerifPro-Book.ttf");
	font-weight: 450;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../font/Inter-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

html {
	font-size: 62.5%;
	font-size: 10px;
	scroll-behavior: smooth !important;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth !important;
	transition: all 0.3s ease;
	font-size: 1.6rem;
	font-weight: 450;
}

:root {
	--primary: #e3f1dd;
	--white: #ffffff;
	--black: #000000;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	background: #ffffff;
}

::-webkit-scrollbar-thumb {
	background: #8ea882;
}

::-webkit-scrollbar-thumb:hover {
	/* background: var(--primary); */
	background: #8ea882;
}

body {
	font-family: "Meta Serif Pro", sans-serif;
	color: var(--black);
	font-weight: 450;
	max-width: 1920px;
	margin: 0 auto;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--black);
	font-family: "Meta Serif Pro";
}

a:hover {
	color: rgba(0, 0, 0, 0.6) !important;
}

button {
	font-family: "Meta Serif Pro";
	font-style: normal;
	font-weight: 450;
	cursor: pointer;
	border: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.button {
	width: fit-content;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3rem;
	font-size: 1.6rem;
	line-height: 2.1rem;
}
.button:hover {
	background: rgba(227, 241, 221, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.15);
}
.button-icon {
	gap: 1rem;
}
.link {
	font-family: "Meta Serif Pro";
	font-size: 1.6rem;
	line-height: 2.1rem;
}
.container {
	max-width: 1800px;
	width: 94%;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.container {
		width: 100%;
		padding: 0 1.6rem;
	}
}

/* header */

header {
	padding: 4.8rem 0 1.6rem;
}
.header-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}
.navbar-ul {
	display: flex;
	align-items: center;
	gap: 2.4rem;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.company-name {
	font-size: 2.4rem;
	line-height: 3.1rem;
}
.text-line {
	font-style: italic;
	opacity: 0.5;
	font-size: 12px;
	line-height: 15px;
	margin-top: 2px;
	display: flex;
	align-items: center;
	gap: 6px;
}
.text-line::before,
.text-line::after {
	content: "";
	display: block;
	width: 3.2rem;
	height: 1px;
	background: #d9d9d9;
}
.social-links {
	display: flex;
	gap: 1rem;
}

.social-links li {
	display: flex;
	align-items: center;
}
.social-links li a {
	color: #4d4d4d;
	font-style: italic;
	font-size: 14px;
	line-height: 18px;
}
.social-links li:not(:first-child):before {
	content: "";
	margin-right: 1rem;
	width: 5px;
	height: 5px;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	background-color: #4d4d4d;
	border-radius: 50%;
	display: block;
}
.social-links li:first-child {
	margin-left: 0;
}
.social-links li:last-child {
	margin-right: 0;
}

.social-lang-bar {
	display: flex;
	align-items: center;
	justify-content: right;
}
.burger,
.burger-logo {
	display: none;
}
.burger {
	flex-direction: column;
	justify-content: center;
	align-items: end;
	gap: 7px;
	cursor: pointer;
}
.burger span {
	background: var(--black);
	border: 1.5px solid var(--black);
	width: 19.25px;
	display: block;
	height: 1px;
	border-radius: 2px;
	flex-shrink: 0;
}
.burger span:last-child {
	margin-bottom: 0;
}
.burger-logo img {
	width: 2.4rem;
}

header.active .burger span:nth-child(2) {
	transform: scale(0);
}
header.active .burger span:nth-child(1) {
	transform: rotate(45deg) translate(10px, 7px);
}
header.active .burger span:nth-child(3) {
	transform: rotate(-45deg) translate(6px, -4px);
}
header.active {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: var(--white);
	z-index: 5;
	top: 0;
	left: 0;
}

header.active nav,
header.active .social-lang-bar {
	position: absolute;
	left: 0;
	display: block;
}
header.active nav {
	top: 15rem;
	width: 100%;
}
header.active nav ul {
	flex-direction: column;
}
header.active .social-lang-bar {
	bottom: 5.6rem;
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	gap: 4.8rem;
}
.lang {
	display: flex;
	align-items: center;
	margin-left: 4.8rem;
	gap: 0.6rem;
}
.lang-items a {
	display: none;
	font-weight: 450;
	font-size: 16px;
	line-height: 21px;
	color: var(--black);
}
.lang-items a.active {
	display: block;
}
@media (max-width: 1024px) {
	.header-wrapper {
		grid-template-columns: 5.6rem auto 5.6rem;
	}
	section:first-of-type {
		margin-top: 127px;
	}
	header {
		position: fixed;
		width: 100%;
		height: auto;
		background-color: var(--white);
		z-index: 5;
		top: 0;
		left: 0;
		padding-bottom: 2.4rem;
	}

	.lang {
		margin-left: 0;
	}
	.logo {
		margin: auto;
	}
	.burger,
	.burger-logo {
		display: block;
	}
	.burger-logo {
		padding: 1.2rem 1.6rem;
	}
	.burger {
		display: flex;
	}
	nav,
	.social-lang-bar {
		display: none;
	}

	header.active .burger-logo {
		visibility: hidden;
		opacity: 0;
	}
}

/* main page */
.main-page-slider {
	margin-bottom: 10rem;
	position: relative;
}

.main-page-slider::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--primary);
	border-radius: 30rem;
	display: block;
	top: 0;
	left: 0;
}
.main-page-slider::after {
	content: "";
	width: 12.8rem;
	height: 16.6rem;
	background-image: url("../img/Coffee\ Leaf\ NoBg\ 1.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
	/* filter: blur(2px); */
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
}
.main-page-slider .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-page-slider .autoplay-progress {
	position: absolute;
	left: min(152px, 8%);
	bottom: 5.7rem;
	z-index: 10;
	gap: 0.8rem;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: var(--swiper-theme-color);
	display: grid;
	max-width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
}

.main-page-slider .autoplay-progress span {
	height: 2px;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	display: inline-block;
	position: relative;
}

.main-page-slider .autoplay-progress span.active:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	display: block;
	background: rgba(255, 255, 255, 1);
	width: var(--progress);
	/* width: 100%; */
}

.main-page-slider .swiper-pagination {
	display: grid;
	align-items: center;
	justify-content: start;
	position: absolute;
	bottom: 3.2rem;
	gap: 0.8rem;
	left: min(152px, 8%);
	max-width: calc(100% - min(152px, 8%));
	grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
	text-align: left;
}
.main-page-slider .swiper-pagination-bullet {
	width: 100%;
	height: auto;
	border-radius: unset;
	background-color: unset;
	color: var(--white);
	margin: 0 !important;
	opacity: 0.8;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
	opacity: 0.8;
}
.main-page-slider .swiper-slide {
	position: relative;
	height: 692px;
}

.main-page-slider .swiper-slide img {
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}
.main-page-slider .slide-info {
	max-width: 340px;
	width: calc(100% - 48px);
	position: absolute;
	top: min(200px, 45%);
	left: min(152px, 8%);
}
.main-page-slider h1 {
	color: var(--white);
	margin-bottom: 2.4rem;
	font-size: 48px;
	line-height: 62px;
}

.main-page-slider .slide-info a {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;

	color: var(--white);
}

@media (max-width: 1024px) {
	.main-page-slider {
		margin-bottom: 4rem;
	}
	.main-page-slider .slide-info,
	.main-page-slider .swiper-pagination,
	.main-page-slider .autoplay-progress {
		left: 24px;
	}
	.main-page-slider h1 {
		font-size: 40px;
		line-height: 51px;
	}
	.main-page-slider .swiper-slide {
		height: 664px;
	}
	.main-page-slider::after,
	.main-page-slider::before {
		width: 3.89rem;
		height: 2.66rem;
		background: none;
		background-image: url("../img/bean.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		left: 0;
		right: unset;
		top: unset;
		bottom: unset;
		z-index: 3;
	}
	.main-page-slider::after {
		bottom: -1rem;
	}
	.main-page-slider::before {
		bottom: 4rem;
		rotate: 45deg;
		left: -0.5rem;
	}
}

/* about section */
.main-about {
	margin-bottom: 10rem;
}
.section-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.4rem;
}
.section-top h2 {
	font-style: normal;
	font-weight: 450;
	font-size: 32px;
	line-height: 41px;
}
.section-top .text-line {
	font-size: 14px;
	line-height: 18px;
}
.about-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.about-img {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}
.about-img img {
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
	width: 100%;
}
.about-text {
	background-color: var(--primary);
	border-radius: 16px;
	padding: 8rem;
	position: relative;
}

.about-text p {
	max-width: 418px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #000000;
	margin-bottom: 2.4rem;
}
.about-text p:last-child {
	margin-bottom: 0;
}
.about-text::after {
	content: "";
	position: absolute;
	width: 126.84px;
	height: 164.48px;
	filter: blur(1px);
	background-image: url("../img/Coffee\ Leaf\ NoBg\ 2.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: -7rem;
	left: -4rem;
}

@media (max-width: 1024px) {
	.main-about {
		margin-bottom: 4rem;
	}
	.about-wrapper {
		grid-template-columns: 1fr;
	}

	.section-top {
		margin-bottom: 1.6rem;
	}
	.section-top h2 {
		font-size: 24px;
		line-height: 31px;
	}
	.about-text {
		padding: 2.4rem !important;
	}
	.about-text::after {
		width: 56px;
		height: 72.62px;
		bottom: -2rem;
		left: -2rem;
	}
	.about-text p {
		max-width: unset;
	}
	.about-img img {
		max-height: 14.5rem;
	}
}

/* main page products */
.main-products {
	margin-bottom: 10rem;
}
.products-section-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.products-text {
	padding-top: 0;
	padding-bottom: 0;
	background-color: unset;
}
.products-text::after {
	display: none;
}
.product-text p {
	max-width: 338px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	margin-bottom: 1.6rem;
}
.product-images {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1rem;
	max-width: 1191px;
	width: 70%;
}
.product-images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.8rem;
	aspect-ratio: 1/1;
}
.product-images img:first-child {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}
.product-images img:nth-child(n + 8) {
	display: none;
}

@media (max-width: 1024px) {
	.main-products {
		margin-bottom: 4.8rem;
	}
	.products-section-wrapper {
		flex-wrap: wrap;
	}
	.product-text p {
		max-width: unset;
	}
	.products-text {
		padding: 0 !important;
		margin-bottom: 3.2rem;
	}
	.product-images {
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: unset;
	}
	.product-images img:first-child {
		max-height: 39rem;
	}
	.product-images img {
		/* aspect-ratio: unset; */
		max-height: 168px;
	}
}

/* main page contact section */
.main-contact {
	margin-bottom: 16rem;
}
.contact-section-wrapper {
	margin-top: 8rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
}
.contact-section-wrapper::after {
	content: "";
	width: 14rem;
	height: 14rem;
	display: block;
	position: absolute;
	right: 5%;
	top: 0;
	background-image: url("../img/large-cup.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.main-contact .contact-card a {
	font-style: normal;
	font-weight: 450;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 1.6rem;
	display: block;
	color: #000000;
}
.main-contact .contact-card li:last-child a {
	margin-bottom: 0;
}
.main-contact .socials a {
	font-style: italic;
}

.main-contact .contact-card {
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-left: 6.4rem;
	position: relative;
}
.main-contact .contact-card::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	display: block;
	background: #d9d9d9;
	top: 0;
	left: 0;
}
@media (max-width: 1440px) {
	.main-contact .contact-card {
		padding-left: 4.4rem;
	}
}
@media (max-width: 1024px) {
	.main-contact {
		margin-bottom: 0;
	}
	.main-contact .contact-card {
		padding: 0;
		padding-top: 2.4rem;
		padding-bottom: 2.4rem;
	}
	.main-contact .contact-card:last-child {
		padding-bottom: 0;
	}
	.main-contact .contact-card::before {
		width: 100%;
		height: 1px;
	}
	.main-contact .contact-card:first-child {
		padding-top: 0;
	}
	.main-contact .contact-card:first-child::before {
		display: none;
	}
	.contact-section-wrapper {
		grid-template-columns: 1fr;
		margin-top: 0;
	}
	.contact-section-wrapper::after {
		display: none;
	}
	.main-contact .contact-card a {
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 1.2rem;
	}
}

/* footer */
.smartweb .text-line::before,
.smartweb .text-line::after {
	width: 6.4rem;
}
footer {
	margin-bottom: 72px;
}
.smartweb .text-line {
	font-style: normal;
	font-weight: 350;
	font-size: 16px;
	line-height: 21px;
	color: var(--black);
	justify-content: center;

	margin-top: 32px;
	opacity: 1;
}

.smartweb .text-line a {
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.footer-wrapper {
	background-color: var(--primary);
	border-radius: 16px;
	display: flex;
	padding: 32px 0 48px;
	position: relative;
}
.footer-wrapper::after {
	content: "";
	position: absolute;
	right: -4rem;
	top: -6rem;
	z-index: -1;
	background-image: url("../img/Coffee\ Leaf\ NoBg\ 1.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width: 10rem;
	height: 8rem;
	transform: rotate(90deg);
}
.footer-logo {
	min-width: 28%;
}
.footer-logo .logo {
	align-items: start;
}
.rights {
	margin-top: 32px;
	font-weight: 350;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	opacity: 0.6;
}
.footer-card li {
	margin-bottom: 8px;
}
.footer-card a {
	font-style: normal;
	font-weight: 450;
	font-size: 16px;
	line-height: 21px;
}
.footer-cards {
	max-width: 664px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) {
	.footer-wrapper {
		padding: 24px 0;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.footer-logo .logo {
		align-items: center;
	}
	.rights {
		margin-top: 24px;
	}
	.footer-cards {
		grid-template-columns: 1fr;
	}
	.footer-card {
		margin-top: 32px;
	}
	.footer-logo {
		min-width: unset;
	}
	.smartweb .text-line {
		margin: 32px 0 0;
	}
	footer {
		margin-bottom: 22px;
		padding-top: 4.8rem;
		overflow-x: hidden;
	}
	.footer-wrapper::after {
		transform: rotate(60deg);
		right: -2rem;
		top: -5rem;
	}
}

/* contact page */
.section-bg {
	margin-top: 2.4rem;
	position: relative;
	height: 16rem;
	margin-bottom: 4rem;
}
.section-bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}
.section-bg .section-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4.8rem;
	line-height: 6.2rem;
	color: var(--white);
	text-align: center;
	width: 100%;
}

.contact-page-wrapper {
	margin-bottom: 15rem;
	text-align: center;
	background: #fff9f0;
	border-radius: 16px;
	padding: 4rem;
}
.contact-page-card h3 {
	font-size: 24px;
	line-height: 31px;
	color: var(--black);
	margin-bottom: 1.2rem;
}
.contact-page-card.email a,
.contact-page-card.phone a {
	font-size: 14px;
	line-height: 140%;
	color: var(--black);
}
.contact-page-card.email a {
	text-decoration-line: underline;
}
.contact-page-card.social .social-links li:not(:first-child):before {
	background-color: var(--black);
}
.contact-page-card li {
	margin-bottom: 0.8rem;
}
.contact-page-card.address a,
.contact-page-card.social a {
	font-size: 16px;
	font-style: normal;
	line-height: 21px;
	color: var(--black);
}
.contact-page-card.social ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.contact-page-card:not(:last-child) {
	margin-bottom: 4rem;
}
@media (max-width: 1024px) {
	.section-bg {
		height: 7.5rem;
		margin-top: 1.2rem;
		margin-bottom: 2.4rem;
	}
	.section-bg .section-title {
		font-size: 3.2rem;
		line-height: 4.1rem;
	}
	.contact-page-wrapper {
		margin-bottom: 10rem;
	}
}

/* product page */

.product-page .section-bg {
	margin-bottom: 3.2rem;
}
.product-page-desc {
	max-width: 36rem;
	text-align: center;
	margin: auto;
	margin-bottom: 3.2rem;
}

.product-page-desc h3 {
	font-size: 32px;
	line-height: 41px;
	margin-bottom: 2.4rem;
	color: var(--black);
}
.product-page-desc p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: var(--black);
	margin-bottom: 1.6rem;
}

.product-table {
	border-radius: 1.2rem;
	width: 100%;
	margin-bottom: 7.2rem;
	display: flex;
	flex-direction: column;
	gap: 0;
}

.product-table .thead {
	width: 100%;
}
.product-table .tbody {
	width: 100%;
}
.product-table .tr {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: left;
}

.product-table .th,
.product-table .td {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 2.4rem;
	border-collapse: collapse;
}

.table-col-title {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	color: var(--black);
	margin-bottom: 2px;
}
.table-col-sub-title {
	font-style: italic;
	font-weight: 450;
	font-size: 15px;
	line-height: 19px;
	color: var(--black);
	opacity: 0.6;
}

.product-table .td,
.product-table .th {
	border: 1px solid #e7e7e7;
}
.product-table .th {
	border-top: none;
	background-color: var(--primary);
}

.product-table .thead .th:first-child {
	border-left: unset;
	border-top-left-radius: 12px;
}
.product-table .thead .th:last-child {
	border-right: none;
	border-top-right-radius: 12px;
}
.product-table .td .main {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	color: var(--black);
	margin-bottom: 2px;
}
.product-table .td .sub {
	font-family: "Inter";
	font-style: italic;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: var(--black);
	opacity: 0.6;
}
.product-table .tbody td {
	background: #f9f9f9;
}

.product-table .tbody .tr:last-child .td:first-child {
	border-bottom-left-radius: 12px;
}
.product-table .tbody .tr:last-child .td:last-child {
	border-bottom-right-radius: 12px;
}

.price-list {
	background: #fff9f0;
	border-radius: 16px;
	padding: 64px;
	margin-bottom: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.price-list .title {
	font-style: normal;
	font-weight: 450;
	font-size: 32px;
	line-height: 41px;
	color: var(--black);
	margin-bottom: 8px;
}
.price-list p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: var(--black);
	margin-bottom: 3.2rem;
	opacity: 0.6;
}
.price-list .button {
	background-color: var(--primary);
}
.swipe {
	display: none;
	width: 100%;
	align-items: center;
	justify-content: end;
}
.products-wrapper .title {
	text-align: center;
	font-size: 24px;
	color: var(--black);
	line-height: 31px;
	margin-bottom: 24px;
}

.download-form.modal {
	height: 0;
	position: fixed;
	bottom: -100%;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	z-index: -5;
}
.download-form.modal.active {
	transform: scale(1);
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 4;
}
.modal-content {
	background: #ffffff;
	box-shadow: 0px 4px 14px rgba(156, 156, 156, 0.15);
	border-radius: 12px;
	max-width: 435px;
}
.form-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.8rem 2.4rem;
	border-bottom: 1px solid #f0f0f0;
}
.form-top h4 {
	font-size: 24px;
	line-height: 31px;
	color: var(--black);
}
.form {
	padding: 1.6rem 2.4rem 2.4rem;
}
.form .form-desc {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: var(--black);
	margin-bottom: 2.4rem;
}
.form-row {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	margin-bottom: 1.6rem;
}

.form-row label {
	font-family: "Meta Serif Pro";
	font-style: normal;
	line-height: 20px;
	color: var(--black);
}
.form-row input,
.form-row input:focus,
.form-row textarea {
	border: 1px solid #c4d9bb;
	border-radius: 8px;
	padding: 1rem;
	outline: none;
}
.form-row textarea {
	resize: none;
	height: 10rem;
}

.close-modal {
	cursor: pointer;
}
.form button {
	width: 100%;
	margin-top: 4rem;
	background: var(--primary);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 1024px) {
	.product-page-desc h3 {
		font-size: 24px;
		line-height: 31px;
	}
	.products-wrapper .title {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 5px;
	}
	.product-page-desc p {
		font-size: 14px;
		line-height: 140%;
	}
	.download-form.modal {
		align-items: end;
	}
	.form-top {
		padding-top: 4rem;
	}
	.form-top h4 {
		line-height: 20px;
	}
	.modal-content {
		padding-bottom: 10rem;
	}
}

@media (max-width: 768px) {
	.swipe {
		display: flex;
		margin-bottom: 1.7rem;
		gap: 1rem;
	}
	.product-page-desc {
		max-width: unset;
		width: 100%;
	}
	.table-container {
		padding: 0;
	}
	.product-table {
		overflow-x: scroll;
		margin-bottom: 4rem;
		padding: 0 1.6rem;
	}
	.product-table::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	.product-table .tr {
		grid-template-columns: repeat(4, 171px);
	}
	.price-list {
		padding: 2.4rem;
		margin-bottom: 13rem;
	}
	.price-list .title {
		font-size: 24px;
		line-height: 31px;
	}
}

/* about us */
.about-page {
	/* overflow-x: hidden; */
	position: relative;
}
.about-page::after {
	content: "";
	width: 13rem;
	height: 17rem;
	background-image: url("../img/Coffee\ Leaf\ NoBg\ 1.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	right: 0;
	top: 477px;
}
.about-page-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-bottom: 18rem;
}
.about-us-text {
	background: #e9f4e4;
	border-radius: 16px;
	padding: 4.8rem;
}
.about-us-text > * {
	max-width: 544px;
	width: 100%;
	margin: auto;
}

.about-us-text .title {
	font-size: 48px;
	line-height: 62px;
	color: var(--black);
	margin-bottom: 4rem;
}
.about-us-text .about-card-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 31px;
	color: var(--black);
	margin-bottom: 2.4rem;
}
.about-us-text p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: var(--black);
	margin-bottom: 2.4rem;
}
.about-us-text strong {
	font-weight: 600;
	font-family: "Meta Serif Pro";
	font-style: normal;
	font-size: 20px;
	line-height: 140%;
	color: var(--black);
}
.about-us-img {
	position: relative;
}

.about-us-img .about-us-main-img {
	width: 100%;
	max-height: 859px;
	aspect-ratio: 1/0.9;
	object-fit: cover;
	position: sticky;
	top: 0;
	border-radius: 16px;
}
.about-card {
	margin-bottom: 4rem;
}

@media (max-width: 1024px) {
	.about-page-wrapper {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 11rem;
	}
	.about-us-img .about-us-main-img {
		position: static;
		max-height: 331px;
	}

	.about-us-text {
		padding: 3rem 2.4rem;
	}
	.about-page::after {
		top: 210px;
		right: 0;
		width: 6rem;
		height: 8rem;
	}
}
/* padding-left styles */
.section-top,
.about-text,
.contact-section-wrapper,
.footer-wrapper {
	padding-left: 150px;
}
@media (max-width: 1600px) {
	.section-top,
	.about-text,
	.contact-section-wrapper,
	.footer-wrapper {
		padding-left: 100px;
	}
}

@media (max-width: 1440px) {
	.section-top,
	.about-text,
	.contact-section-wrapper,
	.footer-wrapper {
		padding-left: 80px;
	}
}

@media (max-width: 1024px) {
	.section-top,
	.about-text,
	.contact-section-wrapper,
	.footer-wrapper {
		padding-left: 0;
	}
}
